<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container">
  <%- include("../partials/flash") %>

  <div class="row">
    <div class="col-lg-8">
      <%for(let item of userCart){%>
      <div class="card mb-3 mt-2 bg-secondary" style="width: 90%">
        <div class="row g-0">
          <div class="col-md-4">
            <img style="width: 200px" src="<%=item.img%>" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold"><%=item.name%></h5>
              <p class="card-text"><%= item.desc %></p>

              <!-- <p class="text-info fw-bold">
                Currently <%= item.stock %> items is available
              </p> -->
              <form
                action="/user/<%=currentUser._id%>/cart/<%=item._id%>?_method=DELETE"
                method="post"
              >
                <button class="btn btn-sm btn-danger">remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%}%>
    </div>

    <div class="col-lg-4 mb-3">
      <%totalAmount=0%>
      <h6 class="display-6">Products</h6>
      <ul class="list-group">
        <!--  -->
        <%for(let item of userCart){%>
        <li class="list-group-item">
          <%=item.name%> - <strong>&#8377; <%=item.price%></strong>
        </li>
        <%totalAmount+=item.price%> <%}%>
        <!--  -->
      </ul>

      <div class="mt-2">
        <p class="fw-bold">Total amount : &#8377; <%=totalAmount%></p>
        <form action="/pay" method="POST">
          <input
            class="amount"
            type="hidden"
            name="amount"
            value="<%=totalAmount%>"
          />
          <input
            class="form-control"
            type="hidden"
            name="name"
            value="<%=currentUser.username%>"
          />
          <input
            class="form-control"
            type="hidden"
            name="email"
            value="<%=currentUser.email%>"
          />
          <input
            class="form-control"
            type="hidden"
            name="phone"
            value="99999999999"
          />
          <input
            type="hidden"
            class="product"
            name="productinfo"
            value="educational purpose"
          />

          <button class="btn btn-success form-control">Proceed To Pay</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
